body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 1rem;
}

.hero {
  background-color: red;
  padding: 1rem;
}

.highlights {
  background-color: blue;
  padding: 1rem;
}

.testimonials {
  background-color: green;
  padding: 1rem;
}

.about {
  background-color: yellow;
  padding: 1rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: lightgrey;
  padding: 1rem;
}

.App-logo {
  height: calc(50px + 2vmin);
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.navlist {
  list-style: none;
  display: inline-flex;
}

.navlink {
  margin-right: 2rem;
  font-size: 0.8rem;
  text-decoration: none;
}

.footer-list {
  list-style: none;
  display: inline;
}

.footer-link {
  font-size: 1rem;
  text-decoration: none;
}